APP_ENV=dev
APP_SECRET=change_this_secret
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=meeting_app
DB_USER=meeting_user
DB_PASS=meeting_pass
JWT_EXPIRE_MINUTES=60
LIVEKIT_URL=ws://192.168.25.144:7880
LIVEKIT_API_KEY=09aa5a4558a5e3dd4109bae9
LIVEKIT_API_SECRET=daf9370cc25f5b75abdf40a7609af09c15f0d97850c82411
